@{
    ViewData["Title"] = "Home";
}

<h1>Virtual Event Ticketing System</h1>
<p>Assignment 1 - COMP 2139</p>

<div class="mt-4">
    <a href="/events" class="btn btn-primary">Browse Events</a>
    <a href="/purchase/select" class="btn btn-success">Buy Tickets</a>
</div>